<div class="container">
	<div class="container-fluid content-main">
		<nav class="navbar navbar-light" style="background-color: #b60000;">
		  <a class="navbar-brand" href="#">
		    <%= image_tag("rainbowkw-icon.png", :width => "30", :class => "navicon d-inline-block align-top", :alt =>"")%>

		    &nbsp;KW Rainbow Network
		  </a>
		</nav>
		<h1 class="text-center display-1"></h1>
		<div class="row">
			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
				<%= image_tag("rainbowkw.png", :class => "img-fluid")%>
			</div>
			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
			<p class="lead">
				The <strong>KW Rainbow Network</strong> is an international network of Keller Williams Realty Brokers, Associates, Leadership and Staff and KW International employees who IDENTIFY as <strong>L</strong>, <strong>G</strong>, <strong>B</strong> or <strong>T</strong> and are committed to serving the <strong>LGBT</strong> community with integrity, dignity and compassion.</p>
			<p class="lead">
				Our group was founded in 2005 to exchange seller and buyer referrals, share ideas and successes, and to network with each other regarding real estate trends and resources. We hold two annual networking events at our national conferences - Family Reunion, MegaCamp, and other national and/or regional events. Join us at our <a href="#">Facebook group</a> or email us at <a href="mailto:info@kwrainbownetwork.com">info@kwrainbownetwork.com</a>.	
			<p>
			</div>
		</div>
	</div>
</div>